body{
	background-color:#e5e5e5;
	font-family: arial;
}



header {
	background-color: #ddf2;
}

header-cont{
	width: 1200px;
	margin: 0,auto;
}

header-cont img{
	float: left;
	color: blue;
}
